
 img {
     width: 100%;
     position: relative;
    box-shadow: 0 10px 20px 5px #aaaaaa, 0 0 2px #e4e4e4;
}

@media only screen and (min-width: 810px) and (max-width: 1200px) {
    img {
        height: 515px;
    }
}

@media only screen and (min-width: 1200px) {
    img {
        height: 515px;
    }
}
