
.slide-control {
    position: relative;
    height: 40px;
    width: 40px;
    margin-top: -20px;
    border-radius: 50%;
    border-color: transparent;
    background: transparent;
    color: #e4e4e4;
    font-size: 20px;
    outline: none;
}

.carousel .slide-control:disabled {
    visibility: hidden;
}

.carousel .slide-control span {
    color: #e4e4e4;
    cursor: pointer;
    display: inline-block;
    transform: scale(1.5, 1.5);
    transition: all 0.3s ease-in-out;
}

.control-previous span:before {
    margin-left: 10px;
    content: '\00ab';
}

.control-next span:before {
    margin-right: 10px;
    content: '\00bb';
}

.control-previous:hover span {
    transform: scale(2.3, 2.3) translateX(-5px);
    transition: all 0.3s ease-in-out;
}

.control-next:hover span {
    transform: scale(2.3, 2.3) translateX(5px);
    transition: all 0.3s ease-in-out;
}