.progress-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 0;
}
.progress-wrapper ul {
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    display: inline-block;
    float: left;
}
@media only screen and (max-width: 480px) {
    .progress-wrapper ul {
        display: none;
    }
}
