.carousel {
    height: 100%;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-areas: "top" "bottom";
    grid-template-rows: 1fr 100px;
}

@media only screen and (max-width: 480px) {
    .carousel {
        display: inline-flex;
    }
}

.carousel-body {
    display: flex;
    height: 515px;
}

.carousel-controls {
    position: fixed;
    top: 0;
    height: calc(100% - 100px);
    width: 100%;
    display: grid;
    align-items: center;
    grid-template-areas: 'left center right';
}

@media only screen and (max-width: 480px) {
    .carousel-controls {
        display: none;
    }
}

@media only screen and (min-width: 480px) and (max-width: 1200px) {
    .carousel-controls {
        grid-template-columns: 50px 1fr 50px;
        z-index: 1000;
    }
}

@media only screen and (min-width: 1200px) {
    .carousel-controls {
        grid-template-columns: 100px 1fr 100px;
    }
}
.carousel-controls .control-next {
    grid-area: right;
}

.carousel-controls .control-prev {
    grid-area: left;
}
.carousel-progress {
    grid-area: bottom;
    overflow: hidden;
    display: flex;
    justify-content: center;
}